#my_characters {
	margin-top: 10px;
}

#chars_container span.avatar {
	width: 25px;
	height: 25px;
	display: inline-block;
	text-align: center;
}

#chars_container span.avatar img {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: -7px;
}

#chars_container li {
	margin-top: 7px;
}

#chars_container .switch {
	float: right;
}

/* And the profile menu can use some love */
#profile_menu_top img.avatar, #profile_menu img.avatar {
	display: none;
}

#current_sig_parsed {
	border: none;
	padding-top: 0;
}
#detailedinfo #current_sig, #detailedinfo #sig_header {
	margin-bottom: 0;
	padding-bottom: 0;
}
#sig_preview, #sig_preview_parsed {
	display: none;
}